<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.BankWebsite</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.BankWebsite.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.java.BankWebsite.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankConnectionHelper</display-name>
    <servlet-name>BankConnectionHelper</servlet-name>
    <servlet-class>com.java.BankWebsite.BankConnectionHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankConnectionHelper</servlet-name>
    <url-pattern>/BankConnectionHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBalenceServlet</display-name>
    <servlet-name>CheckBalenceServlet</servlet-name>
    <servlet-class>com.java.BankWebsite.CheckBalenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalenceServlet</servlet-name>
    <url-pattern>/CheckBalenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositAmountServlet</display-name>
    <servlet-name>DepositAmountServlet</servlet-name>
    <servlet-class>com.java.BankWebsite.DepositAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositAmountServlet</servlet-name>
    <url-pattern>/DepositAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawAmountServlet</display-name>
    <servlet-name>WithdrawAmountServlet</servlet-name>
    <servlet-class>com.java.BankWebsite.WithdrawAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawAmountServlet</servlet-name>
    <url-pattern>/WithdrawAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccountServlet</display-name>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>com.java.BankWebsite.CloseAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>com.java.BankWebsite.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet</url-pattern>
  </servlet-mapping>
</web-app>